<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Dashboard</h1>

	<span class="example-spacer"></span>
    <mat-icon class="example-icon" (click)="logout()">logout</mat-icon>
</mat-toolbar>



<!-- <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row> -->

<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item class="parent"  routerLink="products">
				<span class="full-width" *ngIf="isExpanded || isShowing">all Products</span>
				<mat-icon mat-list-icon>add</mat-icon>
			</mat-list-item>
			<mat-list-item class="parent" routerLink="add-product">
				<span class="full-width" *ngIf="isExpanded || isShowing">add Product</span>
				<mat-icon mat-list-icon>add</mat-icon>
			</mat-list-item>

		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
