.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background: rgba(40, 40, 43, 0.85);
  color: white;

  border-radius: 3rem;
  margin-bottom: 20rem;

  
}
